# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE & Editor (VS Code)
.vscode/

# Operating System (Windows, macOS)
.DS_Store
Thumbs.db
desktop.ini